nohup.out
.bundle
db/*.sqlite3
db/schema.rb
log/*.log
log/*.age
log/*.db
log/qb_sync.log*
tmp/*
tmp/**/*
*.rdb
.byebug_history
.watsonrc
.powrc
.powenv
stdout
nohup.out
public/images/logos
public/screencasts
public/uploads
lib/tclink.bundle
development/shared/attachments/*
attachments/*
coverage.data
coverage/
config/database.yml
db/development_structure.sql
.rsync_cache/
.DS_Store
public/javascripts/cache/
public/stylesheets/cache/
public/stylesheets/application_css.css
public/*
!public/maintenance.html
test/shared/
config/*.pem
.idea/
.bundle/
vendor/bundle/
config/memcached.yml
*.rbc
.ruby-version
.ruby-gemset
.byebug_history


# OS X Files
.DS_Store

config/env_vars.sh
config/certificates
public/assets
solr/
config/elasticsearch/
db/elasticsearch/

# Ignore application configuration
/config/application.yml
/tools/docker_dev/config/application.yml
/tools/docker_dev/id_rsa*

/vendor/cache
/node_modules
/client/node_modules
spec/examples.txt
# Added by webpack-rails
/node_modules
/public/webpack

/doc/handbook/build

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
__*


/config/sidekiq.yml

.idea-rubymine/
.idea
.idea-webstorm/
